* {
    padding: 0;
    margin: 0;
}
body {
    background: rgba(51,133,255,0.4);
}
.box-wrap {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #f6f6f6;
}
.box-wrap h2 {
    font-weight: normal;
    padding: 10px 10px 20px;
}
.box p {
    padding: 4px 10px; 
    text-align: left;
}
.box h3 {
    padding: 4px 10px 12px; 
    text-align: left;
    font-weight: normal;
}
.wrap {
    width: 600px;
    height: 300px;
    background: #ffb300;
    margin: 10px;
    margin-bottom: 30px;
}
.wrap-direction-width {
    width: 80px;
}
.wrap-direction-height {
    height: 80px;
}
.wrap-wrap-height {
    height: 160px;
}
.wrap-justify-content {
    height: 80px;
}
.wrap-align-items {
    width: 320px;
}
.item {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: #0078d7;
    margin: 10px;
}
code {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    line-height: 28px;
    background-color: #ffb300;
    border-radius: 5px;
    margin: auto 3px;
}
.source {
    width: 940px;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    border-radius: 6px;
    margin-left: 20px;
    background-color: #DEEBF7;
}


/*flex-direction属性*/

/*flex-direction: row;   row（默认值）：主轴为水平方向，起点在左端。*/
.wrap1 {
    display: flex;
    flex-direction: row;
}

/*flex-direction: row-reverse;   row-reverse：主轴为水平方向，起点在右端。*/
.wrap2 {
    display: flex;
    flex-direction: row-reverse; 
}

/*flex-direction: column;   column：主轴为垂直方向，起点在上沿。*/
.wrap3 {
    display: flex;
    flex-direction: column; 
}

/*flex-direction: column-reverse;   column-reverse：主轴为垂直方向，起点在下沿。*/
.wrap4 {
    display: flex;
    flex-direction: column-reverse;
}

/*
    flex-direction: row | row-reverse | column | column-reverse;
*/

/*
    row（默认值）：主轴为水平方向，起点在左端。
    row-reverse：主轴为水平方向，起点在右端。
    column：主轴为垂直方向，起点在上沿。
    column-reverse：主轴为垂直方向，起点在下沿。
*/



/*flex-wrap属性*/

/*flex-wrap: nowrap;   nowrap（默认）：不换行。*/
.wrap5 {
    display: flex;
    flex-wrap: nowrap;
}

/*flex-wrap: wrap;   wrap：换行，第一行在上方。*/
.wrap6 {
    display: flex;
    flex-wrap: wrap;
}

/*flex-wrap: wrap-reverse;   wrap-reverse：换行，第一行在下方。*/
.wrap7 {
    display: flex;
    flex-wrap: wrap-reverse;
}

/*
    flex-wrap: nowrap | wrap | wrap-reverse;
*/

/*
    nowrap（默认）：不换行。
    wrap：换行，第一行在上方。
    wrap-reverse：换行，第一行在下方。
*/



/*flex-flow属性*/

.wrap8 {
    display: flex;
    flex-flow: row nowrap;
}


/* 
    flex-flow属性是flex-direction属性和flex-wrap属性的简写形式，
    默认值为row nowrap。
*/

/*
    flex-flow: <flex-direction> || <flex-wrap>;
*/



/*justify-content属性*/

/*justify-content: flex-start;   flex-start（默认值）：左对齐*/        
.wrap9 {
    display: flex;
    justify-content: flex-start;
}

/*justify-content: flex-end;   flex-end：右对齐*/ 
.wrap10 {
    display: flex;
    justify-content: flex-end;
}

/*justify-content: center;   center： 居中*/ 
.wrap11 {
    display: flex;
    justify-content: center;
}

/*justify-content: space-between;   space-between：两端对齐，项目之间的间隔都相等。*/ 
.wrap12 {
    display: flex;
    justify-content: space-between;
}

/*justify-content: space-around;   space-around：每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。*/ 
.wrap13 {
    display: flex;
    justify-content: space-around;
}

/*
    justify-content: flex-start | flex-end | center | space-between | space-around;
*/

/*
    flex-start（默认值）：左对齐
    flex-end：右对齐
    center： 居中
    space-between：两端对齐，项目之间的间隔都相等。
    space-around：每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍。
*/



/*align-items属性*/

/*align-items: flex-start;   flex-start：交叉轴的起点对齐。*/        
.wrap14 {
    display: flex;
    align-items: flex-start;
}

/*align-items: flex-end;   flex-end：交叉轴的终点对齐。*/        
.wrap15 {
    display: flex;
    align-items: flex-end;
}   

/*align-items: center;   center：交叉轴的中点对齐。*/        
.wrap16 {
    display: flex;
    align-items: center;
} 

/*align-items: baseline;   baseline: 项目的第一行文字的基线对齐。*/        
.wrap17 {
    display: flex;
    align-items: baseline;
} 

/*align-items: stretch;   stretch（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度。*/        
.wrap18 {
    display: flex;
    align-items: stretch;
}             

/*
    align-items: flex-start | flex-end | center | baseline | stretch;
*/

/*
    flex-start：交叉轴的起点对齐。
    flex-end：交叉轴的终点对齐。
    center：交叉轴的中点对齐。
    baseline: 项目的第一行文字的基线对齐。
    stretch（默认值）：如果项目未设置高度或设为auto，将占满整个容器的高度。
*/



/*align-content属性*/

/*align-content: flex-start;   flex-start：与交叉轴的起点对齐。*/
.wrap19 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;        
}

/*align-content: flex-end;  flex-end：与交叉轴的终点对齐。*/
.wrap20 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;        
}

/*align-content: center;   center：与交叉轴的中点对齐。*/
.wrap21 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;        
}

/*align-content: space-between;   space-between：与交叉轴两端对齐，轴线之间的间隔平均分布。*/
.wrap22 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;        
}

/*align-content: space-around;   space-around：每根轴线两侧的间隔都相等。所以，轴线之间的间隔比轴线与边框的间隔大一倍。*/
.wrap23 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;        
}

/*align-content: stretch;   stretch（默认值）：轴线占满整个交叉轴。*/
.wrap24 {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;        
}

/*
    align-content: flex-start | flex-end | center | space-between | space-around | stretch;
*/

/*
    flex-start：与交叉轴的起点对齐。
    flex-end：与交叉轴的终点对齐。
    center：与交叉轴的中点对齐。
    space-between：与交叉轴两端对齐，轴线之间的间隔平均分布。
    space-around：每根轴线两侧的间隔都相等。所以，轴线之间的间隔比轴线与边框的间隔大一倍。
    stretch（默认值）：轴线占满整个交叉轴。
*/












